.box-model-properties {
    border: 5px solid rgb(250, 166, 250);
    margin: 20px;
    padding: 10px;
}

.center-title {
    margin: 0 auto;
    width: 500px;
}

.navigation-links li {
    display: inline;
    margin: 15px;
}



